<%= form_with(model: [@topic,post]) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>

    <%= form.fields_for :tags ,@post.tags.build do |tag| %>
    <%= tag.label "Add New #tags" %>
      <%= tag.text_field :tag_name %>
      <% end %>

    <% if Tag.any? %>
      <%= form.label 'Choose tags' %>
      <%= form.select :tag_ids, Tag.all.collect { |tag| [tag.tag_name, tag.id] }, { }, multiple: true %>
    <% end %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :topic_id %>
    <%#= form.text_field :topic_id %>
<!--  </div>-->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
