<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<% if @posts.length > 0 %>
<table>
  <thead>
    <tr>
      <% unless @topic.present? %><th>Topic_Id </th> <%end %>
      <th>Post Name</th>
      <th> Description </th>
      <th> Average Rating</th>
      <th colspan="3"> Actions</th>

    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>

        <% unless @topic.present? %><td><%= post.topic.title %></td> <% end %>
        <td><%= post.about %></td>
        <td><%= post.description %></td>
        <td><%=(post.ratings.average(:star)|| 0.0).floor(1)  %></td>
        <% if @topic.present? %>
        <td><%= link_to 'Show', [@topic, post] %></td>
        <td><%= link_to 'Edit', edit_topic_post_path(@topic,post) %></td>
        <td><%= link_to 'Destroy', [@topic, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Show', [post.topic, post] %></td>
          <td><%= link_to 'Edit', edit_topic_post_path(post.topic,post) %></td>
          <td><%= link_to 'Destroy', [post.topic, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p> No Posts Yet</p>
<% end %>

  <br>
<% if @topic.present? %>
<%= link_to 'New Post', new_topic_post_path(@topic) %> |
<%= link_to 'Back to Topics', topics_path %>
<% end %>

<%= will_paginate @posts %>