<style>
    .tag-pill {
        background-color: #ddd;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }
</style>
<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @post.topic.title %> - <%= @post.about %></strong>
</h1>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>


  <p>
    <% if @post.images.attached? %>
  <strong>Images: </strong></p>
  <% @post.images.each do |image| %>
    <%= image_tag(image,style: "height: 250px;width: 250px") %>
  <% end %>
<% end %>



<p>
<strong> Tags </strong>
<div class="tags">
  <% @post.tags.each do |tag| %>
    <span class="tag-pill"><%= tag.tag_name %></span>
  <% end %>
</div>


<p>
  <strong>Ratings: </strong>
  <% @post.ratings.group(:star).count.each_pair do |star ,count| %>
    <span style="margin: 0 5px">
        <%= "#{star}â­ => #{count} " %>
      </span>
  <% end %>
  <%= render 'ratings/form' %>
</p>


<p>
  <strong>Comments: </strong>
  <table>
    <tbody>
    <% @post.comments.each do |comment| %>
      <% if comment.content != nil %>
        <tr>
          <td><%= comment.content %></td>
          <td> <%= time_ago_in_words(comment.created_at) %> ago</td>
          <td><td><%= link_to "Destroy Comment", topic_post_comment_path(@topic,@post,comment), method: :delete ,data: { confirm: 'Are you sure?' }%></td>
        </tr>
      <% end %>
      <% end %>
        </tbody>
  </table>
  <%=render 'comments/form' %>


<%= link_to 'Edit', edit_topic_post_path(@topic,@post) %> |
<%= link_to 'Back', topic_posts_path(@topic) %>
